JWT_SECRET=bluehome2025
PORT=3000
GOOGLE_PROJECT_ID=midyear-pattern-443303-d7
GOOGLE_CLIENT_EMAIL=bluehome@midyear-pattern-443303-d7.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nXXXX\\n-----END PRIVATE KEY-----\\n"
GOOGLE_PRIVATE_KEY_ID=7d839a186db1d9ee07a29c755e4609fb53b361d7
SHEET_ID=TU_ID_DE_HOJA
SHEET_NAME=ordenes
